# Builds
.blobs
.local_blob_tmp
blobs
.final_builds/*/*/*.tgz
Gemfile.lock
.dev_builds
.final_builds
releases/*

# Secrets
config/private.yml

# Dev files
config/dev.yml
.dev_builds
dev_releases
manifest/*
!manifest/dev.yml
